h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Playfair Display", serif;
  width: 70ch;
}
.blog {
  border: 2px solid black;
  width: 1140px;
  margin: auto;
  padding: 1rem;
}
img {
  width: 70%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
}

li {
  font-family: "Montserrat", sans-serif;
}